@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

* {
  position: relative;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: "sriracha";
  text-align: center;
  justify-content: center;
}

nav {
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  border: 0.5rem solid black;
}

.skills {
}

.links {
  width: 100%;
  height: auto;
}

.content {
  background-image: url("pexels-stas-knop-1261578.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  font-size: 1.5rem;
  position: relative;
}

.transparent {
  background: rgba(255, 255, 255, 0.4);
  border: 0.2rem solid black;
  font-weight: bold;
  margin: 5px;
  color: #222;
  padding: 1rem;
  text-align: center;
}

.text {
  color: black;
  padding: 5px;
  text-align: center;
}

.hidden {
  display: none;
  text-align: center;
  justify-content: center;
}

.project01 {
}

.project02 {
  height: auto;
  color: purple;
  background-color: gold;
  border-radius: 5px;
  font-size: 2rem;
  padding: 5px;
  text-align: center;
}

.project02:hover {
  color: gold;
  background-color: purple;
}

.project {
  height: auto;
  color: gold;
  background-color: purple;
  border-radius: 5px;
  font-size: 2rem;
  padding: 5px;
  text-align: center;
}

.project:hover {
  color: purple;
  background-color: gold;
}

.pop {
  width: 100%;
  height: auto;
  position: absolute;
  cursor: pointer;
  border: none;
  background: none;
  z-index: 10;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.popclose {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

a:visited {
  color: goldenrod;
}

.wrap {
  float: right;
}

.contact {
  font-size: 3rem;
  color: yellow;
  background-color: blue;
  border-radius: 10px;
  text-align: center;
  margin-top: 50px;
  box-shadow: -10px 10px;
}

.contact:hover {
  font-weight: 1000;
}

.wrap {
  text-align: left;
}

.profilepic {
  text-align: right;
}
